@import "../../variable.module.css";

.bookmarkCardOuterwrapper {
    width: 60%;
    height: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: var(--list-wrapper-box-shadow);

}

.bookmarkCardInnerwrapper {
    width: 85%;
    height: 75%;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    grid-template-rows: 33% 33% 33%;
    grid-template-areas:
        "courseNameBreadCrumWrapper arrowLinkWrapper"
        "chapterNameWrapper arrowLinkWrapper"
        "topicsCountWrapper arrowLinkWrapper"
    ;
}

/* ---------------------------------------------------------------------------------- */

.courseNameBreadCrumWrapper {
    grid-area: courseNameBreadCrumWrapper;
    width: 100%;
    height: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 0%;
}

.breadCrumElementWrapper {
    display: flex;
    width: 100%;
    height: 80%;
    /* border: 1px solid red; */
    margin-left: 0px;
    overflow: hidden;
}

.courseNameWrapper {
    display: flex;
    /* flex: 1 1 auto; */
    width: auto;
    height: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}

.courseNameWrapper p {
    font-size: 0.7rem;
    color: #7E8DA4;
    font-weight: 400;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.chevronIconWrapper {
    height: 100%;
    /* border: 1px solid springgreen; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    aspect-ratio: 1/1;

}

.chevronIconDiv {
    aspect-ratio: 1/1;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* border: 1px solid red; */
}

/* ---------------------------------------------------------------------------------- */
.chapterNameWrapper {
    position: relative;
    grid-area: chapterNameWrapper;
    width: 100%;
    height: 100%;
    /* border: 1px solid springgreen; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.chapterNameWrapper::before {
    position: absolute;
    content: "";
    background-color: var(--app-ui-scheme-color);
    height: 90%;
    width: 5px;
    left: -15px;
    border-radius: 1px;

}

.chapterNameWrapper p {
    font-size: 1rem;
    font-weight: 600;
    color: black;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* ---------------------------------------------------------------------------------- */

.topicsCountWrapper {
    grid-area: topicsCountWrapper;
    width: 100%;
    height: 100%;
    /* border: 1px solid skyblue; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.topicsCountWrapper p {
    font-size: 0.55rem;
    font-weight: 500;
    color: black;
}

/* ---------------------------------------------------------------------------------- */

.arrowLinkWrapper {
    grid-area: arrowLinkWrapper;
    width: 100%;
    height: 100%;
    /* border: 1px solid orange; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.arrowLinkIconDiv {
    border-radius: 50%;
    background-color: var(--button-bg);
    width: 70%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
}



@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .bookmarkCardOuterwrapper {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        margin-top: 20px;
        margin-bottom: 20px;
        height: clamp(5.0rem, -1.0rem + 30.0vw, 8.0rem) !important;
        border-radius: clamp(1.2rem, -2.220446049250313e-16rem + 6.000000000000001vw, 1.8rem) !important;
    }

    .courseNameWrapper p {
        /* font-size: 0.6rem; */
        /* font-size: 0.8rem; */
        font-size: clamp(0.6rem, 0.19999999999999984rem + 2.000000000000001vw, 0.8rem) !important;

    }

    .chapterNameWrapper p {
        /* font-size: 0.8rem; */
        /* font-size: 1.3rem; */
        font-size: clamp(0.8rem, -0.19999999999999996rem + 5.0vw, 1.3rem) !important;

    }

    .topicsCountWrapper p {
        /* font-size: 0.55rem; */
        /* font-size: 0.75rem; */
        font-size: clamp(0.55rem, 0.15000000000000013rem + 1.9999999999999998vw, 0.75rem) !important;

    }
}