@import "../../variable.module.css";

.classroomHeaderWrapper {
    width: 100%;
    height: 100%;
    /* border: 1px solid orange; */
    grid-area: classroomHeaderWrapper;
    display: grid;
    grid-template-rows: 20% 80%;
    grid-template-columns: 60% 40%;

    grid-template-areas:
        "headingWrapper productivityGraphWrapper"
        "overviewWrapper productivityGraphWrapper";
    background-color: var(--sub-page-header-bg);
}

/* ---------------------------------------------------- */

.headingWrapper {
    grid-area: headingWrapper;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* border: 1px solid salmon; */

}

.backBtnIconContainer {
    /* width: 10%; */
    aspect-ratio: 1/1;
    height: 100%;
    /* border: 1px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.backBtnIconDiv {
    /* width: 50%; */
    height: 60%;
    aspect-ratio: 1/1;
    /* border: 1px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.headingContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: auto;
    height: 100%;
    /* border: 1px solid white; */
    padding-left: 1%;
}

.headingContainer p {
    color: white;
    font-size: 1.2rem;
    font-weight: 300;
}

/* ------------------------------------------------------ */

.overviewWrapper {
    grid-area: overviewWrapper;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* border: 1px solid yellowgreen; */
}


.productivityGraphWrapper {
    grid-area: productivityGraphWrapper;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* border: 1px solid cyan; */
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {

    .classroomHeaderWrapper {
        width: 100%;
        height: 100%;
        /* border: 1px solid orange; */
        grid-area: classroomHeaderWrapper;
        display: grid;
        grid-template-rows: 10% 45% 45%;
        grid-template-columns: 100%;

        grid-template-areas:
            "headingWrapper"
            "overviewWrapper"
            "productivityGraphWrapper"
        ;
        background-color: var(--sub-page-header-bg);
    }

    .backBtnIconContainer {
        /* width: 10%; */
        aspect-ratio: 1/1;
        height: 80%;
        /* border: 1px solid white; */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .backBtnIconDiv {
        /* width: 50%; */
        height: 50%;
        aspect-ratio: 1/1;
        /* border: 1px solid white; */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .headingContainer {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: auto;
        height: 100%;
        /* border: 1px solid white; */
        padding-left: 0%;
    }

    .headingContainer p {
        color: white;
        font-size: 1.2rem;
        font-weight: 300;
    }

}