@import "../../variable.module.css";

.classroomContentWrapper {
    width: 100%;
    height: 100%;
    grid-area: classroomContentWrapper;
    background-color: var(--sub-page-content-wrapper-bg);
    /* border: 1px solid red; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 4%;
    /* border: 1px solid blue; */
}

.inProgressSection {
    width: 40%;
    height: 80%;
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 80%;
    grid-template-areas:
        "inProgressHeadingWrapper"
        "inProgressListWrapper"
    ;

}

.inProgressHeadingWrapper {
    grid-area: inProgressHeadingWrapper;
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.inProgressHeadingIndictor {
    width: 12px;
    min-width: 12px;
    height: 40%;
    border-radius: 3px;
    background-color: var(--app-ui-scheme-color);
    margin-right: 2%;
}

.inProgressHeadingText {
    /* font-family: "Poppins", sans-serif; */
    font-size: 1.2rem;
    color: black;
    font-weight: 500;
}

.inProgressListWrapper {
    grid-area: inProgressListWrapper;
    width: 100%;
    height: 100%;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-x: scroll;
}

.inProgressListWrapper::-webkit-scrollbar {
    display: none;
}