.graphComponentWrapper {
    grid-area: graphComponentWrapper;
    width: 100%;
    height: 100%;
    /* border: 1px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.graphComponentInnerWrapper {
    width: 98%;
    height: 95%;
    /* border: 1px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 10% 70%;
    grid-template-areas:
        "graphTimeSpendingHeadingCell"
        "graphTimeSpendingValueCell"
        "graphChartCell"
    ;
}

.graphTimeSpendingHeadingCell {
    grid-area: graphTimeSpendingHeadingCell;
    width: 100%;
    height: 100%;
    /* border: 1px solid salmon; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.graphTimeSpendingValueCell {
    grid-area: graphTimeSpendingValueCell;
    width: 100%;
    height: 100%;
    /* border: 1px solid salmon; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.graphTimeSpendingValueInnerCell {
    width: 68%;
    height: 100%;
    /* border: 1px solid salmon; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 0%;
}

.graphTimeSpendingValueInnerCell p {
    font-size: 1.6rem;
    color: white;
}

.graphTimeSpendingValueCell span {
    font-size: 0.8rem;
    color: #9E92DC;
    font-weight: 500;
}


.graphChartCell {
    grid-area: graphChartCell;
    width: 100%;
    height: 100%;
    /* border: 1px solid salmon; */
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding-left: 4%;
}

.graphChartInnerCell {
    width: 70%;
    height: 98%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid salmon; */
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {

    .graphComponentInnerWrapper {
        width: 98%;
        height: 95%;
        /* border: 1px solid white; */
        display: flex;
        justify-content: center;
        align-items: center;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 22% 8% 70%;
        grid-template-areas:
            "graphTimeSpendingHeadingCell"
            "graphTimeSpendingValueCell"
            "graphChartCell"
        ;
    }

    .graphTimeSpendingValueInnerCell {
        width: 68%;
        height: 100%;
        /* border: 1px solid salmon; */
        padding-right: 8%;
    }

    .graphTimeSpendingValueCell {
        grid-area: graphTimeSpendingValueCell;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .graphTimeSpendingValueInnerCell p {
        font-size: 2rem;
        font-size: 1.1rem;
        font-size: clamp(1.1rem, -0.6999999999999997rem + 9.0vw, 2.0rem) !important;

    }

    .graphTimeSpendingValueInnerCell span {
        font-size: 1rem;
        font-size: 0.55rem;
        font-size: clamp(0.55rem, -0.34999999999999987rem + 4.5vw, 1.0rem) !important;
    }


    .graphChartCell {
        grid-area: graphChartCell;
        width: 100%;
        height: 100%;
        /* border: 1px solid salmon; */
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding-left: 0%;
    }

    .graphChartInnerCell {
        width: 100%;
        height: 95%;
        display: flex;
        justify-content: center;
        align-items: center;
        /* border: 1px solid salmon; */
    }

}