@import "../../variable.module.css";

.cardOuterWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: white; */
    /* box-shadow: var(--list-wrapper-box-shadow); */
    box-sizing: border-box;
    height: 80%;
    min-height: 80%;
    width: 90%;
    /* aspect-ratio: 2/1; */
    /* margin-left: 20px; */
    /* margin-right: 20px; */
    /* border-radius: 1.5rem; */
    /* border: 1px solid red; */
    margin-left: auto;
    margin-right: auto;
    height: 9rem;
    box-shadow: var(--list-wrapper-box-shadow);
    border-radius: 1.5rem;
    overflow: hidden;
    background-color: white;
}

.cardWrapper {
    width: 85%;
    min-width: 85%;
    height: 90%;
    min-height: 90%;
    /* border: 1px solid black; */
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    /* grid-template-rows: 16.2% 16.2% 16.2% 16.2% 16.2% 16.2%; */
    grid-template-areas:
        "courseLogoWrapper courseLogoWrapper courseClickArrowWrapper courseClickArrowWrapper"
        "courseLogoWrapper courseLogoWrapper courseClickArrowWrapper courseClickArrowWrapper"
        "courseNameWrapper courseNameWrapper courseNameWrapper courseNameWrapper"
        "chapterTextWrapper chapterTextWrapper chapterTextWrapper chapterTextWrapper"
        "chapterContentWrapper chapterContentWrapper chapterContentWrapper chapterContentWrapper"
    ;
}

.cardInnerWrapper {
    width: 100%;
    height: 100%;
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: auto minmax(0, 1fr);
    grid-template-rows: 100%;
    grid-template-areas:
        "leftSide rightSideOuterWrapper";
}

/* ------------------------------------------------------------ */
.leftSide {
    grid-area: leftSide;
    aspect-ratio: 1/1;
    height: 100%;
    /* border: 1px solid black; */
    background-color: #6167A0;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 25% 25% 30% 20%;
    grid-template-areas:
        "courseAttributeCell"
        "courseNameCell"
        "numChaptersCell"
        "chapterAttributeCell"
    ;
}

.courseAttributeCell {
    grid-area: courseAttributeCell;
    width: 100%;
    height: 100%;
    /* border: 1px solid white; */
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding-left: 8%;
}

.courseAttributeCell p {
    color: white;
    font-size: 0.5rem;
}

.courseNameCell {
    grid-area: courseNameCell;
    width: 100%;
    height: 100%;
    /* border: 1px solid darkorange; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 8%;
    overflow: hidden;
}

.courseNameCell p {
    color: white;
    font-size: 1rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.numChaptersCell {
    grid-area: numChaptersCell;
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 8%;

}

.numChaptersCell p {
    color: white;
    font-size: 2rem;
}

.chapterAttributeCell {
    grid-area: chapterAttributeCell;
    width: 100%;
    height: 100%;
    /* border: 1px solid cyan; */
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding-right: 8%;
}

.chapterAttributeCell p {
    color: white;
    font-size: 0.7rem;
}



/* ------------------------------------------------------------------------- */
.rightSideOuterWrapper {
    display: flex;
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
    justify-content: center;
    align-items: center;
}

.rigthSide {
    grid-area: rigthSide;
    width: 90%;
    height: 95%;
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: 25% 25% 50%;
    grid-template-areas:
        "breadCrumCell breadCrumCell"
        "chapterNameCell chapterNameCell"
        "chapterProgressCell linkButtonCell";
    padding-left: 0%;
    /* border: 1px solid darkblue; */
}

.breadCrumCell {
    grid-area: breadCrumCell;
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 0%;
}


.chapterNameCell {
    grid-area: chapterNameCell;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 0%;
}

.chapterNameDiv {
    width: 95%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* border: 1px solid blue; */
    overflow: hidden;
}

.chapterNameDiv p {
    font-size: 0.7rem;
    color: black;
    font-weight: 500;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

}

.chapterProgressCell {
    grid-area: chapterProgressCell;
    width: 100%;
    height: 100%;
    /* border: 1px solid orange; */
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
}

.progressAttributeContainer {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* border: 1px solid palevioletred; */
}

.progressAttributeContainer p {
    font-size: 0.6rem;
    color: black;
}

.progressBarWrapper {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* border: 1px solid black; */
}

.barWrapper {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* border: 1px solid red; */
}


.barContainer {
    height: 0.2rem;
    width: 95%;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #BAC4D5;
    overflow: hidden;
}

.barDiv {
    height: 100%;
    width: 70%;
    background-color: #6167A0;
    border-radius: 0px 10px 10px 0px;
}


.completedNumContainer {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* border: 1px solid darkblue; */
    justify-content: space-evenly;
}

.numDiv {
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid springgreen; */
}

.numDiv p {
    font-size: 0.7rem;
    font-weight: 600;
    padding: 0;
    margin: 0;
    /* border: 1px solid springgreen; */
}

.slashText {
    color: #718199;
}

.linkButtonCell {
    grid-area: linkButtonCell;
    width: 100%;
    height: 100%;
    /* border: 1px solid plum; */
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-bottom: 10%;
    padding-right: 0%;
}

.linkBtnDiv {
    aspect-ratio: 1/1;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #6167A0;
    cursor: pointer;
}





/* ----------------------------------------------------- */
.breadCrumElementWrapper {
    width: auto;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* border: 1px solid red; */
}

.breadCrumTextContainer {
    width: auto;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* border: 1px solid greenyellow; */
}

.breadCrumTextContainer p {
    font-size: 0.6rem;
}

.breadCrumIconContainer {
    height: 100%;
    aspect-ratio: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}

.chevIconDiv {
    aspect-ratio: 1/1;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}







@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .cardOuterWrapper {
        display: flex;
        /* min-height: 100% !important; */
        /* height: 6rem !important; */
        /* height: 7rem !important; */
        /* height: 12rem !important; */
        width: 95%;
        height: unset;
        margin-left: auto;
        margin-right: auto;
        margin-top: 15px;
        margin-bottom: 15px;
        height: clamp(7.0rem, -3.0rem + 50.0vw, 12.0rem) !important;
        border-radius: clamp(1.1rem, -0.2999999999999998rem + 6.999999999999999vw, 1.8rem) !important;

    }


    .courseAttributeCell p {
        font-size: 0.5rem;
        font-size: 0.8rem;
        font-size: clamp(0.6rem, 0.19999999999999984rem + 2.000000000000001vw, 0.8rem) !important;

    }


    .courseNameCell p {
        font-size: 1.8rem;
        font-size: 1rem;
        width: 95%;
        font-size: clamp(1.0rem, -0.6000000000000001rem + 8.0vw, 1.8rem) !important;

    }


    .numChaptersCell p {
        font-size: 1.2rem;
        font-size: 2.5rem;
        font-size: clamp(1.2rem, -1.4000000000000001rem + 13.0vw, 2.5rem) !important;
    }


    .chapterAttributeCell p {
        font-size: 0.6rem;
        font-size: 0.8rem;
        font-size: clamp(0.6rem, 0.19999999999999984rem + 2.000000000000001vw, 0.8rem) !important;

    }

    .breadCrumTextContainer p {
        font-size: clamp(0.5rem, 0.10000000000000009rem + 1.9999999999999998vw, 0.7rem) !important;

    }

    .chapterNameDiv p {
        font-size: clamp(0.7rem, 0.2999999999999998rem + 2.000000000000001vw, 0.9rem) !important;
        font-weight: 500;

    }

    .progressAttributeContainer p {
        font-size: clamp(0.5rem, 0.10000000000000009rem + 1.9999999999999998vw, 0.7rem) !important;
        white-space: nowrap;
    }


    .numDiv p {
        font-size: clamp(0.55rem, -0.04999999999999982rem + 2.999999999999999vw, 0.85rem) !important;
        font-weight: 600;
    }

    .slashText {
        color: #718199;
        font-size: clamp(0.55rem, -0.04999999999999982rem + 2.999999999999999vw, 0.85rem) !important;
    }



    .chevIconDiv {
        aspect-ratio: 1/1;
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}