@import "../../variable.module.css";

.cardOuterWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    box-shadow: var(--list-wrapper-box-shadow);
    background-color: white;
    box-sizing: border-box;
    width: 35% !important;
    aspect-ratio: 2/1 !important;
    margin-top: 20px;
    margin-bottom: 20px;
    /* border: 1px solid salmon; */
    border-radius: 1.5rem;
    overflow: hidden;
    margin-right: 30px;
}

.cardInnerWrapper {
    width: 85%;
    height: 85%;
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    grid-template-rows: 20% 20% 20% 40%;
    grid-template-areas:
        "courseAttrCell courseAttrCell courseAttrCell  arrowLinkBtnCell"
        "courseNameCell courseNameCell courseNameCell  arrowLinkBtnCell"
        "progressBarCell progressBarCell progressBarCell progressBarCell "
        "progressPercCell progressPercCell completedChaptersCell completedChaptersCell"
    ;
}



/* Grid Item: courseAttrCell */
.courseAttrCell {
    grid-area: courseAttrCell;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* border: 1px solid #FF5733; */
    /* Adjust color as needed */
}

.courseAttrCell p {
    font-size: 0.65rem;
    font-weight: 450;
    color: #6167A0;
}

/* Grid Item: courseNameCell */
.courseNameCell {
    grid-area: courseNameCell;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* border: 1px solid #36A4D1; */
    /* Adjust color as needed */
}

.courseNameCell p {
    font-size: 1rem;
    font-weight: 450;
    color: black;
}


/* Grid Item: progressBarCell */
.progressBarCell {
    grid-area: progressBarCell;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* border: 1px solid #1EBE7E; */
    /* Adjust color as needed */
}

.progressBarContainer {
    position: relative;
    width: 70%;
    height: 0.2rem;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #EDEFF2;
}

.progressBarDiv {
    position: absolute;
    width: 73%;
    height: 100%;
    border-radius: 5px;
    left: 0;
    background-color: #6167A0;
}

/* Grid Item: progressPercCell ------------------------------*/
.progressPercCell {
    grid-area: progressPercCell;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */

}


.inProgressElementWrapper {
    width: 97%;
    height: 95%;
    display: grid;
    /* border: 1px solid black; */
    grid-template-columns: 100%;
    grid-template-rows: 70% 30%;
    grid-template-areas:
        "progressValueCell"
        "progressAtrrCell"
    ;
}

.progressValueCell {
    grid-area: progressValueCell;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* border: 1px solid #E74C3C; */
    /* Adjust color as needed */
}

.progressValueCell p {
    font-size: 1.8rem;
    /* font-weight: normal; */
    color: #6167A0;
    white-space: nowrap;
}

.progressValueCell span {
    font-size: 1rem;
    color: #718199;
    white-space: nowrap;
}

.progressAtrrCell {
    grid-area: progressAtrrCell;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* border: 1px solid #3498DB; */
    /* Adjust color as needed */
}

.progressAtrrCell p {
    font-size: 0.6rem;
    color: black;
    white-space: nowrap;
    font-weight: 450;
}



/* Grid Item: completedChaptersCell -----------------------------------*/
.completedChaptersCell {
    grid-area: completedChaptersCell;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #9B59B6; */
}


.completedChaptersElementWrapper {
    width: 97%;
    height: 95%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 70% 30%;
    grid-template-areas:
        "completedValueCell"
        "chapterAttrCell";
    /* border: 1px solid black; */

}

.completedValueCell {
    grid-area: completedValueCell;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* border: 1px solid black; */
}

.completedValueCell p {
    font-size: 1.8rem;
    color: #6167A0;
    /* font-weight: 500; */
    white-space: nowrap;
}

.completedValueCell span {
    font-size: 1rem;
    color: #718199;
    white-space: nowrap;
}




.chapterAttrCell {
    grid-area: chapterAttrCell;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* border: 1px solid black; */
}

.chapterAttrCell p {
    font-size: 0.6rem;
    color: black;
    white-space: nowrap;
    font-weight: 450;
}


/* Grid Item: arrowLinkBtnCell ------------------------------------*/
.arrowLinkBtnCell {
    grid-area: arrowLinkBtnCell;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #E74C3C; */
}

.linkBtnDiv {
    aspect-ratio: 1/1;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #6167A0;
    cursor: pointer;
}


@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {

    .cardOuterWrapper {
        width: 80% !important;
        aspect-ratio: 2/1.2 !important;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-right: 0px;
        /* border-radius: clamp(1.5rem, -0.5rem + 10.0vw, 2.5rem) !important; */
    }
}