.graphComponentWrapper {
    width: 90%;
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 80%;
    grid-template-areas:
        "headingTimeWrapper"
        "graphWrapper";
    /* border: 1px solid red; */
}

/* ---------------------------------------- */
.headingTimeWrapper {
    grid-area: headingTimeWrapper;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* border: 1px solid white; */
}


.headingIndicatorContainer {
    aspect-ratio: 1/1;
    height: 100%;
    /* border: 1px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.indicatorDiv {
    width: 20%;
    height: 40%;
    /* border: 1px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--app-ui-scheme-color);
    border-radius: 2px;
}


.headingContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: auto;
    height: 100%;
    /* border: 1px solid white; */
    padding-left: 0%;
}

.headingContainer p {
    color: white;
    font-size: 1rem;
    font-weight: 300;
}

.clockTimeContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
    padding-right: 10%;
}

.clockIconContainer {
    aspect-ratio: 1/1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid white; */
}

.clockIconDiv {
    width: 60%;
    aspect-ratio: 1/1;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.timeTextContainer {
    width: auto;
    height: 100%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.timeTextContainer p {
    color: white;
    font-size: 0.8rem;
}

/* ---------------------------------------- */


.graphWrapper {
    width: 100%;
    height: 100%;
    grid-area: graphWrapper;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid springgreen; */

}

.graphInnerWrapper {
    grid-area: graphInnerWrapper;
    width: 80%;
    height: 90%;
    /* border: 1px solid salmon; */
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 100%;
    grid-template-areas:
        "hoursTextWrapper dayBarWrapper";
    align-items: flex-end;
}

.hoursTextWrapper {
    grid-area: hoursTextWrapper;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid white; */
}

.hrTextDiv {
    width: 80%;
    height: 10%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hrText {
    color: white;
    font-size: 0.5rem;
    font-weight: 300;
    /* margin-top: auto; */
    /* margin-bottom: auto; */
    /* margin: 0; */
    /* padding: 0; */
}

.dayBarWrapper {
    grid-area: dayBarWrapper;
    width: 100%;
    height: 100%;
    display: flex;
    /* border: 1px solid white; */
}

.dayBarContainer {
    width: 14%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    /* border: 1px solid red; */
}



.barContainer {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid green; */
    width: 100%;
    height: 80%;
}

.barDiv {
    width: 5%;
    height: 100%;
    background-color: var(--app-ui-scheme-color);
    border-radius: 10px 10px 0px 0px;
}

.dayTextDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid green; */
    width: 100%;
    height: 20%;
}

.dayText {
    font-size: 0.8rem;
    font-weight: 300;
    color: white;
}




@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {

    .graphComponentWrapper {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 15% 85%;
        grid-template-areas:
            "headingTimeWrapper"
            "graphWrapper";
        /* border: 1px solid red; */
    }

    .graphInnerWrapper {
        width: 90%;
        height: 90%;
    }


    .headingIndicatorContainer {
        aspect-ratio: 1/1;
        height: 100%;
        /* border: 1px solid white; */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .indicatorDiv {
        width: 25%;
        height: 45%;
        /* border: 1px solid white; */
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--app-ui-scheme-color);
        border-radius: 2px;
    }


    .headingContainer {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: auto;
        height: 100%;
        /* border: 1px solid white; */
        padding-left: 0%;
    }

    .headingContainer p {
        color: white;
        font-size: 1rem;
        font-weight: 300;
    }

    .clockTimeContainer {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        height: 100%;
        /* border: 1px solid red; */
        padding-right: 10%;
    }

    .clockIconContainer {
        aspect-ratio: 1/1;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        /* border: 1px solid white; */
    }

    .clockIconDiv {
        width: 60%;
        aspect-ratio: 1/1;
        /* border: 1px solid red; */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .timeTextContainer {
        width: auto;
        height: 100%;
        /* border: 1px solid red; */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .timeTextContainer p {
        color: white;
        font-size: 0.8rem;
    }

}