.wrapper {
    width: 20%;
    height: 100%;
    min-height: 100%;
    /* border: 1px solid red; */
    background-color: rgb(137, 16, 203);

}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {

    .wrapper {
        width: 100%;
        height: 100%;
        min-height: 100%;
        /* border: 1px solid red; */
        /* background-color: yellowgreen; */

    }
}