@import "../../variable.module.css";

:root {
    --listWrapperHeight: 0px;
}

.sidebarComponentWrapper {
    width: 20%;
    height: 100%;
    /* border: 1px solid black; */
    display: grid;
    grid-template-rows: 10% 90%;
    grid-template-columns: 100%;
    grid-template-areas:
        "sidebarHeadingWrapper"
        "sidebarContentWrapper";
    z-index: 2;
    background-color: var(--app-main-bg);
    background-color: #FCFAFA !important;


}

.sidebarHeadingWrapper {
    grid-area: sidebarHeadingWrapper;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    /* border: 1px solid red; */
}

.sidebarHeadingDiv {
    width: 100%;
    height: 100%;
    /* border: 1px solid black; */
    padding-left: 8%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.sidebarHeadingDiv p {
    font-size: 1.2rem;
    font-weight: 500;
    color: black;

}

.sidebarCloseIconDiv {
    width: 20%;
    height: 100%;
    /* border: 1px solid red; */
    display: none;
    justify-content: center;
    align-items: flex-end;
}

.closeIcon {
    width: 40%;
    height: 40%;
}

.sidebarContentWrapper {
    grid-area: sidebarContentWrapper;
    width: 100%;
    height: 95%;
    min-height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* border: 1px solid blueviolet; */
    overflow-y: scroll;
    /* padding-bottom: 20px; */
    padding-top: 0%;
    margin-top: 5%;
}

.sidebarContentWrapper::-webkit-scrollbar {
    display: none;
}

.outerModulesListWrapper {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 5%;

}



/* ------------------------------- */

.innerTopicsListWrapper {
    width: 90%;
    /* height: var(--listWrapperHeight); */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;
    transition: height 0.5s ease-in-out;
    -webkit-transition: height 0.5s ease-in-out;
    -moz-transition: height 0.5s ease-in-out;
    -o-transition: height 0.5s ease-in-out;
    -ms-transition: height 0.5s ease-in-out;
}

.innerTopicsListWrapperOpen {
    height: var(--listWrapperHeight);
}


.innerTopicsListWrapperHideClose {
    height: 0px;
    display: flex;
    /* height: 400px; */
}

/* ------------------------------- */
.moduleNameWrapper {
    width: 90%;
    height: 30px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1%;
    margin-bottom: 1%;
    cursor: pointer;
}

.moduleNameDiv {
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid #7e8da478;
    overflow-x: scroll;
    white-space: nowrap;
    padding-right: 5%;
}

.moduleNameDiv::-webkit-scrollbar {
    display: none;
}


.moduleNameDiv p {
    font-size: 0.9rem;
    color: black;
    /* font-weight: 500; */
    /* text-overflow: ellipsis; */
    /* overflow: scroll; */
}

.moduleDropDownIconDiv {
    aspect-ratio: 1/1;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */

}


/* _________________________ */


.subTopicElementWrapper {
    width: 95%;
    height: 40px;
    min-height: 40px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    /* margin-top: 5px !important; */
    /* margin-bottom: 5px !important; */
}

.subTopicElementIndicatorContainer {
    position: relative;
    width: 10%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
}


.indicatorDiv {
    width: 25%;
    aspect-ratio: 1/2;
    /* height: 65%; */
    background-color: var(--app-ui-scheme-color);
    border-radius: 0.12rem;
    /* margin-right: 2%; */
}

.subTopicElementIndicatorContainer::before {
    content: "";
    position: absolute;
    width: 0.09rem;
    background-color: #7e8da43e;
    height: 80%;
    top: -100%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}


.subTopicNameDiv {
    width: 90%;
    height: 50%;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5%;
    cursor: pointer;

}

.subTopicNameText {
    font-size: 0.8rem;
    font-weight: 400;
    color: #51637D;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}


@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {

    .sidebarComponentWrapper {
        position: absolute;
        width: 100%;
        min-width: 100%;
        height: 100%;
        min-height: 100%;
        display: grid;
        grid-template-rows: 10% 90%;
        grid-template-columns: 100%;
        grid-template-areas:
            "sidebarHeadingWrapper"
            "sidebarContentWrapper";

        transition: right 0.5s ease-in-out;
        -webkit-transition: right 0.5s ease-in-out;
        -moz-transition: right 0.5s ease-in-out;
        -o-transition: right 0.5s ease-in-out;
        -ms-transition: right 0.5s ease-in-out;


        right: 100%;
    }


    .sideBarSlide {
        /* border-right: 1px solid #7e8da470; */
        right: 0%;

        transition: right 0.5s ease-in-out;
        -webkit-transition: right 0.5s ease-in-out;
        -moz-transition: right 0.5s ease-in-out;
        -o-transition: right 0.5s ease-in-out;
        -ms-transition: right 0.5s ease-in-out;

    }


    .sidebarHeadingWrapper {
        grid-area: sidebarHeadingWrapper;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        /* border: 1px solid red; */
    }


    .sidebarHeadingDiv {
        width: 100%;
        height: 100%;
        /* border: 1px solid black; */
        padding-left: 8%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
    }

    .sidebarHeadingDiv p {
        font-size: 1rem;
        font-size: 2rem;
        /* font-size: 2rem; */
        /* font-size: clamp(1.2rem, -0.40000000000000013rem + 8.0vw, 2.0rem) !important; */
        font-size: clamp(1.0rem, -1.0rem + 10.0vw, 2.0rem) !important;
        padding: 0;
        margin: 0;
    }

    .sidebarCloseIconDiv {
        width: 20%;
        height: 100%;
        /* border: 1px solid red; */
        display: flex;
        justify-content: flex-start;
        align-items: center;
        box-sizing: border-box;
    }

    .closeIcon {
        width: 35%;
        height: 35%;
    }




    .moduleNameDiv p {
        font-size: clamp(0.9rem, -0.29999999999999993rem + 6.0vw, 1.5rem) !important;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .subTopicNameText {
        font-size: clamp(0.7rem, -0.30000000000000004rem + 5.0vw, 1.2rem) !important;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }


}