@import "../../variable.module.css";

:root {
    --listWrapperHeight: 0px;
}

.sidebarComponentWrapper {
    width: 20%;
    height: 100%;
    /* border: 1px solid black; */
    display: grid;
    grid-template-rows: 8% 92%;
    grid-template-columns: 100%;
    grid-template-areas:
        "sidebarHeadingWrapper"
        "sidebarContentWrapper"
    ;
    /* background-color: #EEF7FF; */
    z-index: 2;
    -webkit-transition: right 0.3s ease-out;
    -moz-transition: right 0.3s ease-out;
    -o-transition: right 0.3s ease-out;
    transition: right 0.3s ease-out;
    border-right: 1px solid #7e8da470;
    /* background-color: yellowgreen; */
    background-color: #EAF7FF;

}

.sidebarHeadingWrapper {
    grid-area: sidebarHeadingWrapper;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    /* border: 1px solid red; */
}

.sidebarHeadingDiv {
    width: 80%;
    height: 100%;
    /* border: 1px solid black; */
    padding-left: 8%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.sidebarHeadingDiv p {
    font-size: 1.2rem;
    font-weight: 500;
    color: black;

}

.sidebarCloseIconDiv {
    width: 20%;
    height: 100%;
    /* border: 1px solid red; */
    display: none;
    justify-content: center;
    align-items: flex-end;
}

.closeIcon {
    width: 40%;
    height: 40%;
}

.sidebarContentWrapper {
    grid-area: sidebarContentWrapper;
    width: 100%;
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* border: 1px solid blueviolet; */
    overflow-y: scroll;
    padding-bottom: 20px;
    padding-top: 5%;
}

.sidebarContentWrapper::-webkit-scrollbar {
    display: none;
}

.moduleTopicListOuterWrapper {
    width: 80%;
    height: auto;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    -webkit-transition: height 0.3s ease-out;
    -moz-transition: height 0.3s ease-out;
    -o-transition: height 0.3s ease-out;
    transition: height 0.3s ease-out;
    padding-top: 5%;
}

/* ------------------------------- */
.moduleNameWrapper {
    width: 90%;
    height: 30px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1%;
    margin-bottom: 1%;
}

.moduleNameDiv {
    width: 80%;
    height: 100%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid #7e8da478;
}

.moduleNameDiv p {
    font-size: 0.9rem;
    color: black;
    font-weight: 500;
}

.moduleDropDownIconDiv {
    /* width: 20%; */
    aspect-ratio: 1/1;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;

}

.moduleDropDownIconDivRotate {
    transform: rotate(180deg);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

/* ------------------------------- */

.moduleSubTopicListWrapperShow {
    width: 90%;
    height: var(--listWrapperHeight);
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    -webkit-transition: height 0.3s ease-out;
    -moz-transition: height 0.3s ease-out;
    -o-transition: height 0.3s ease-out;
    transition: height 0.3s ease-out;
    overflow: hidden;
    /* padding-top: 10px; */
    /* padding-bottom: 10px; */
}

.moduleSubTopicListWrapperHide {
    /* padding-top: 10px; */
    /* padding-bottom: 10px; */
    height: 0px;
    width: 90%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    -webkit-transition: height 0.3s ease-out;
    -moz-transition: height 0.3s ease-out;
    -o-transition: height 0.3s ease-out;
    transition: height 0.3s ease-out;
    overflow: hidden;
}

/* _________________________ */


.subTopicElementWrapper {
    width: 95%;
    height: 40px;
    min-height: 40px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    /* margin-top: 5px !important; */
    /* margin-bottom: 5px !important; */
}

.subTopicElementIndicatorContainer {
    position: relative;
    width: 10%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
}


.indicatorDiv {
    width: 20%;
    height: 65%;
    background-color: var(--app-ui-scheme-color);
    border-radius: 2px;
    /* margin-right: 2%; */
}

.subTopicElementIndicatorContainer::before {
    content: "";
    position: absolute;
    width: 0.09rem;
    background-color: #7e8da47f;
    height: 80%;
    top: -100%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}


.subTopicNameDiv {
    width: 90%;
    height: 50%;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5%;
}

.subTopicNameText {
    font-size: 0.8rem;
    font-weight: 300;
    color: #51637D;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}


@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {

    .sidebarComponentWrapper {
        position: absolute;
        width: 100%;
        min-width: 100%;
        height: 100%;
        min-height: 100%;
        /* position: absolute; */
        /* width: 80%; */
        /* min-width: 80%; */
        /* height: 80%; */
        /* min-height: 80%; */
        /* border: 1px solid blue; */
        display: grid;
        grid-template-rows: 10% 90%;
        grid-template-columns: 100%;
        grid-template-areas:
            "sidebarHeadingWrapper"
            "sidebarContentWrapper";
        /* background-color: #EEF7FF; */
        -webkit-transition: right 0.3s ease-out;
        -moz-transition: right 0.3s ease-out;
        -o-transition: right 0.3s ease-out;
        transition: right 0.3s ease-out;
        right: 100%;

        /* min-width: 80%; */
        /* width: 80%; */
        background-color: white;
    }


    .sideBarSlide {
        -webkit-transition: right 0.3s ease-out;
        -moz-transition: right 0.3s ease-out;
        -o-transition: right 0.3s ease-out;
        transition: right 0.3s ease-out;
        border-right: 1px solid #7e8da470;
        right: 0%;

        /* right: 10%; */

    }


    .sidebarHeadingWrapper {
        grid-area: sidebarHeadingWrapper;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        /* border: 1px solid red; */
    }


    .sidebarHeadingDiv {
        width: 80%;
        height: 100%;
        /* border: 1px solid black; */
        padding-left: 8%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .sidebarHeadingDiv p {
        font-size: 1.5rem;
        font-weight: 500;
        color: black;
        padding: 0;
        margin: 0;
    }

    .sidebarCloseIconDiv {
        width: 20%;
        height: 100%;
        /* border: 1px solid red; */
        display: flex;
        justify-content: flex-start;
        align-items: center;
        box-sizing: border-box;
    }

    .closeIcon {
        width: 35%;
        height: 35%;
    }




    .moduleNameDiv p {
        font-size: 1.2rem;
        font-weight: 300;
    }

    .subTopicNameText {
        font-size: 1rem;
        font-weight: 300;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }


}