@import "../../variable.module.css";


.topicPageWrapper {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 90%;
    grid-template-areas:
        "headerWrapper"
        "bodyWrapper";


}