.allCourseHeaderWrapper {
    grid-area: allCourseHeaderWrapper;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--sub-page-header-bg);
    /* border: 1px solid white; */
    padding: 0%;
    margin: 0%;
}

.headerInnerWrapper {
    width: 97%;
    height: 100%;
    display: flex;
    display: grid;
    grid-template-columns: auto minmax(0, 1fr);
    grid-template-rows: 100%;
    grid-template-areas:
        "backBtnIconWrapper  headingWrapper";
    /* border: 1px solid salmon; */
}

.backBtnIconWrapper {
    grid-area: backBtnIconWrapper;
    height: 100%;
    aspect-ratio: 1/3;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* border: 1px solid yellow; */
}

.backBtnIconDiv {
    width: 70%;
    aspect-ratio: 1/3;
    height: unset !important;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}

/* -------------------------------------------------------------- */

.headingWrapper {
    grid-area: headingWrapper;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 0%;
    overflow-x: hidden;
    /* border: 1px solid red; */
}

.headingText {
    font-size: 1.9rem;
    font-weight: 500;
    color: white;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

/* ------------------------------------------------ */
/* ------------------------------------------------ */

.allCourseDescriptionWrapper {
    grid-area: allCourseDescriptionWrapper;
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
    background-color: var(--sub-page-header-bg);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
    padding-left: 3%;
}



@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .headerInnerWrapper {
        width: 90%;
        height: 100%;
    }

    /* ------------------------------------------------------------------- */
    .backBtnIconWrapper {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        /* border: 1px solid red; */
    }

    .backBtnIconDiv {
        display: flex;
        justify-content: center;
        align-items: center;
        /* border: 1px solid red; */
    }

    /* ------------------------------------------------------------------- */
    .headingWrapper {
        width: 100%;
        height: 100%;
        /* border: 1px solid white; */
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 0%;
    }

    .headingText {
        font-size: 1.5rem;
        white-space: nowrap;
        overflow-x: hidden;
        text-overflow: ellipsis;
    }

    .allCourseDescriptionWrapper {
        grid-area: allCourseDescriptionWrapper;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        /* border: 1px solid white; */
        padding-left: 8%;

    }

    .allCourseDescriptionWrapper p {
        width: 90%;
        font-size: 1rem;
        /* border: 1px solid red; */
    }
}