@import "../../variable.module.css";

.allCoursesPageWrapper {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 11% 19% 70%;
    grid-template-areas:
        "allCourseHeaderWrapper"
        "allCourseDescriptionWrapper"
        "allCourseBodyWrapper";
}