@import "../../variable.module.css";


.cardOuterWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 200px; */
    /* min-width: 10%; */
    height: 60%;
    aspect-ratio: 1/1.2;
    /* border: 1px solid black; */
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 25px;
    background-color: white;
    box-shadow: var(--list-wrapper-box-shadow);
    box-sizing: border-box;
}

.cardWrapper {
    width: 85%;
    min-width: 85%;
    height: 90%;
    /* border: 1px solid black; */
    box-sizing: border-box;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    /* grid-template-rows: 16.2% 16.2% 16.2% 16.2% 16.2% 16.2%; */

    grid-template-areas:
        "courseLogoWrapper courseLogoWrapper courseClickArrowWrapper courseClickArrowWrapper"
        "courseLogoWrapper courseLogoWrapper courseClickArrowWrapper courseClickArrowWrapper"
        "courseNameWrapper courseNameWrapper courseNameWrapper courseNameWrapper"
        "courseDescriptionWrapper courseDescriptionWrapper courseDescriptionWrapper courseDescriptionWrapper"
        "numModulesWrapper numModulesWrapper numModulesWrapper numModulesWrapper"
    ;
}

.courseLogoWrapper {
    grid-area: courseLogoWrapper;
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.courseClickArrowWrapper {
    grid-area: courseClickArrowWrapper;
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding-top: 12%;
}

.arrowLinkDiv {
    width: 70%;
    /* height: 50%; */
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: #CBE7FD;
    display: flex;
    justify-content: center;
    align-items: center;
}

.courseNameWrapper {
    grid-area: courseNameWrapper;
    width: 100%;
    height: auto;
    /* border: 1px solid red; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.courseNameText {
    font-size: 1rem;
    color: black;
    font-weight: 500;
}

.courseDescriptionWrapper {
    grid-area: courseDescriptionWrapper;
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 1%;
}

.courseDesText {
    /* border: 1px solid red; */
    font-size: 0.55rem;
    color: #7E8DA4;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.numModulesWrapper {
    grid-area: numModulesWrapper;
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* padding-left: 5%; */
}

.numModuleIconContainer {
    aspect-ratio: 1/1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.numModuleIconDiv {
    /* border: 1px solid red; */
    height: 60%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.numModuleTextContainer {
    width: 80%;
    height: 100%;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding-left: 2%;
}

.numModuleTextContainer p {
    font-size: 10px;
    font-weight: 500;
    color: black;
    height: 80%;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.moduleSpanText {
    color: #7E8DA4 ! important;
    /* font-weight: 00; */
    margin-left: 5px;
}


@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .cardOuterWrapper {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        box-shadow: var(--list-wrapper-box-shadow);
        box-sizing: border-box;
        width: 90% ! important;
        /* height: 200px; */
        height: unset;
        aspect-ratio: 1/1.4;
        /* overflow: hidden; */
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 1.5rem;
        border-radius: 2.1rem;
        /* border-radius: clamp(1.3rem, 0.10000000000000031rem + 5.999999999999998vw, 1.9rem) !important; */
        border-radius: clamp(1.5rem, 0.2999999999999998rem + 6.000000000000001vw, 2.1rem) !important;

    }


    .cardWrapper {
        width: 80%;
        min-width: 80%;
        height: 92%;
        /* border: 1px solid black; */
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 0.7fr) minmax(0, 1fr) minmax(0, 0.7fr);
        grid-template-areas:
            "courseLogoWrapper courseLogoWrapper courseClickArrowWrapper courseClickArrowWrapper"
            "courseLogoWrapper courseLogoWrapper courseClickArrowWrapper courseClickArrowWrapper"
            "courseNameWrapper courseNameWrapper courseNameWrapper courseNameWrapper"
            "courseDescriptionWrapper courseDescriptionWrapper courseDescriptionWrapper courseDescriptionWrapper"
            "numModulesWrapper numModulesWrapper numModulesWrapper numModulesWrapper"
        ;
    }



    .courseNameText {
        font-size: 0.8rem;
        font-size: 1.4rem;
        font-size: clamp(0.8rem, -0.3999999999999997rem + 5.999999999999998vw, 1.4rem) !important;

    }

    .courseDescriptionWrapper {
        padding-left: 1%;
        overflow: hidden;
        max-width: 100%;
        max-width: 100%;
    }

    .courseDesText {
        font-size: 0.5rem;
        /* font-size:clamp(0.5rem , 0.10000000000000009rem + 1.9999999999999998vw, 0.7rem) !important; */
        font-size: clamp(0.5rem, -0.10000000000000009rem + 3.0000000000000004vw, 0.8rem) !important;
    }

    .numModuleTextContainer p {
        font-size: 0.6rem;
        font-size: 0.9rem;
        /* font-size: clamp(0.6rem, 0.19999999999999984rem + 2.000000000000001vw, 0.8rem) !important; */
        font-size: clamp(0.6rem, -1.1102230246251565e-16rem + 3.0000000000000004vw, 0.9rem) !important;
    }

    .moduleSpanText {}

}