@import "../../../variable.module.css";

.primaryTitleWrapper {
    position: relative;
    width: 100%;
    height: 35px;
    height: auto;
    padding-left: 0%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.primaryTitleWrapper::after {
    content: "";
    position: absolute;
    bottom: -5px;
    background-color: var(--app-ui-scheme-color);
    height: 0.2rem;
    width: 5%;
    border-radius: 10px;
}


.indicatorContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    height: 100%;
    width: 5%;
    height: 100%;
    /* border: 1px solid red; */
    display: none;
}

.indicatorDiv {
    /* width: 25%; */
    height: 70%;
    aspect-ratio: 1/2.5;
    border-radius: 0.2rem;
    background-color: var(--app-ui-scheme-color);
}

.headingTextDiv {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* border: 1px solid blue; */
}

.primaryTitleText {
    position: relative;
    font-size: 2.3rem;
    font-weight: 500;
    color: black;
}



@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {

    .primaryTitleWrapper {
        position: relative;
        padding-left: 0%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 0%;
        /* margin-bottom: 5%; */
        /* border: 1px solid red; */
        padding-left: 5%;
    }

    .primaryTitleWrapper::after {
        content: "";
        position: absolute;
        bottom: -5px;
        background-color: var(--app-ui-scheme-color);
        height: 0.2rem;
        width: 8%;
        border-radius: 10px;
    }

    .indicatorContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        aspect-ratio: 1/1;
        height: 100%;
        /* border: 1px solid red; */
        width: 10%;
        height: 100%;

        display: none;
    }


    .indicatorDiv {
        /* width: 30%; */
    }

    .primaryTitleText {
        font-size: 1.5rem;
        font-weight: 500;
    }

}