.subTextWrapper {
    width: 100%;
    height: auto;
    /* border: 1px solid black; */
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 6%;
    margin-bottom: 5%;
}

.subTextStyles {

    font-size: 13px;
    color: #51637D;
    line-height: 2;
    text-align: justify;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .subTextWrapper {
        width: 100%;
        height: auto;
        /* border: 1px solid black; */
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 8%;
        padding-right: 3%;
    }

    .subTextStyles {

        font-size: 0.9rem;
        color: #51637D;
        line-height: 2;
        text-align: justify;
        font-weight: 400;
    }
}