@import "../../variable.module.css";

.headerWrapper {
    grid-area: headerWrapper;
    width: 100%;
    height: 100%;
    /* border: 1px solid greenyellow; */
    background-color: var(--sub-page-header-bg);
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    grid-template-areas:
        "courseNameDescWrapper courseInfoGraphicWrapper"
    ;
}

.courseNameDescWrapper {
    grid-area: courseNameDescWrapper;
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
    padding-left: 5%;
}


.courseNameWrapper {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* border: 1px solid white; */
}

.courseNameText {
    font-size: 30px;
    font-weight: 500;
    color: white;
}

.courseDescriptionWrapper {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    /* border: 1px solid white; */
}

.courseDescText {
    width: 70%;
    font-size: 16px;
    font-weight: 400;
    color: #8B98A5;
    margin-top: 2%;
}

/*_______________________________  */
.courseInfoGraphicWrapper {
    grid-area: courseInfoGraphicWrapper;
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.infoElementOuterWrapper {
    width: 100%;
    height: 40%;
    /* border: 1px solid white; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}



.infoElementWrapper {
    width: 40%;
    height: 80%;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 50% 50%;
    grid-template-areas:
        "infoIconWrapper infoAttributeWrapper"
        "infoIconWrapper infoValueWrapper";
    /* border: 1px solid red; */
}

.infoIconWrapper {
    grid-area: infoIconWrapper;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    /* border: 1px solid white; */
}

.infoAttributeWrapper {
    grid-area: infoAttributeWrapper;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    /* border: 1px solid white; */

}

.infoAtrrText {
    color: white;
    font-size: 13px;
    margin-bottom: 2%;
}

.infoValueWrapper {
    grid-area: infoValueWrapper;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    /* border: 1px solid white; */
}

.infoValueText {
    color: white;
    font-size: 13px;
    margin-top: 2%;

}

/* ______________________- */