.listComponentWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    width: 60%;
    height: 100%;
    box-sizing: border-box;

}

.listComponentInnerWrapper {
    width: 90%;
    height: 90%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 80%;
    grid-template-areas:
        "listHeadingWrapper"
        "listWrapper";
    /* border: 1px solid red; */
    box-sizing: border-box;

}

.listHeadingWrapper {
    grid: listHeadingWrapper;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    /* border: 1px solid black; */
}

.listHeadingIndicatorDiv {
    width: 5%;
    height: 100%;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}

.indicator {
    width: 30%;
    /* height: 50%; */
    aspect-ratio: 1/2;
    background-color: var(--app-ui-scheme-color);
    border-radius: 0.2rem;
}

.listHeadingDiv {
    width: 95%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* border: 1px solid blue; */
}

.listHeadingDiv p {
    font-size: 20px;
    font-weight: 500;
    margin-left: 0%;
}

.listWrapper {
    grid: listWrapper;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* border: 1px solid red; */
    box-sizing: border-box;

}

.listInnerWrapper {
    width: 98%;
    height: 100%;
    /* border: 1px solid red; */
    overflow-y: scroll;
    padding-right: 0%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 2%;
}

.listInnerWrapper::-webkit-scrollbar {
    width: 0.15rem;
}

/* scrollbar Track */
.listInnerWrapper::-webkit-scrollbar-track {
    background-color: rgba(226, 226, 226, 0.352);
    /* width: px; */
}

.listInnerWrapper::-webkit-scrollbar-thumb {
    background-color: var(--app-ui-scheme-color);
    border-radius: 5px;
}

.listInnerWrapper::-webkit-scrollbar-thumb:hover {
    background-color: #8be514;
}


@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .listComponentWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        /* border: 1px solid red; */
        width: 100%;
        height: 100%;
    }

    .listComponentInnerWrapper {
        width: 90%;
        height: 90%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 10% 90%;
        grid-template-areas:
            "listHeadingWrapper"
            "listWrapper";
        /* border: 1px solid red; */
    }

    .listHeadingIndicatorDiv {
        width: 10%;
        height: 100%;
        border-radius: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
        /* border: 1px solid red; */
    }

    .indicator {
        width: 30%;
        /* height: 50%; */
        aspect-ratio: 1/2;
        background-color: var(--app-ui-scheme-color);
        border-radius: 0.2rem;
    }

    .listHeadingDiv {
        width: 90%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        /* border: 1px solid blue; */
    }

    .listHeadingDiv p {
        font-size: 20px;
        font-weight: 500;
        margin-left: 2%;
    }

    .listInnerWrapper {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        /* border: 1px solid red; */
        overflow-x: scroll;
        overflow-y: hidden;
    }

    .listInnerWrapper::-webkit-scrollbar {
        width: 0.15rem;
        height: 0.2rem;
    }

    .listInnerWrapper::-webkit-scrollbar-track {
        background-color: rgba(226, 226, 226, 0.352);
        height: 4px;
        width: 5px;
    }

    .listInnerWrapper::-webkit-scrollbar-thumb {
        background-color: var(--app-ui-scheme-color);
        border-radius: 5px;
    }



}