@import "../../../variable.module.css";

:root {
    --mrkdwn-primary-title-color: #0D163E;
    /* --mrkdwn-para-color: #4D5265; */
    --mrkdwn-para-color: #475467;
    --mrkdwn-listItem-color: gray;
    --mrkdwn-span-color: #D92E51;
    --mrkdwn-strong-color: #EF8036;
    --code-snippet-font: 0.8rem;
    --code-block-width: 360px;
}

/* ---primaryHeading----------------------------------------------------- */

.primaryTitleWrapper {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    /* border: 1px solid red; */
}


.indicatorContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    aspect-ratio: 1/1.5;
    height: 3rem;
    margin: 0%;
    /* border: 1px solid red; */
}

.primaryTitleIndicatorDiv {
    width: 35%;
    aspect-ratio: 1/2;
    border-radius: 0.2rem;
    background-color: var(--app-ui-scheme-color);
}


.headingTextDiv {
    flex: 1;
    /* border: 1px solid springgreen; */
}

.primaryTitleText {
    position: relative;
    font-size: 2rem;
    font-weight: 500;
    color: #101828;
    line-height: 1.6;
}


.secondaryTitleIndicatorDiv {
    width: 30%;
    aspect-ratio: 1/2;
    border-radius: 0.15rem;
    background-color: var(--app-ui-scheme-color);

}

.secondaryTitleText {
    font-size: 1.5rem;
    line-height: 3rem;
    font-weight: 500;
}


/* ---paragraph-------------------------------------------------------------- */
.paraWrapper {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 0%;
    padding-bottom: 0%;
    padding-left: 4%;
    padding-right: 4%;
    margin-top: 10px;
    margin-bottom: 10px;
}


.paraText {
    font-size: 0.9rem;
    color: var(--mrkdwn-para-color);
    color: #101828;
    line-height: 2;
    text-align: justify;
}


/* ---list item--------------------------------------------- */

/* ol {
    border: 1px solid blue;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 100%;
}

ol li {
    border: 1px solid salmon;
}

.listItemWrapper {
    width: 100%;
    border: 1px solid purple;
    margin-top: 2%;
    margin-bottom: 2%;
}


.listItemWrapper ul {
    width: 95%;
    margin-top: 0px;
    margin-bottom: 0px;
    border: 1px solid red;
}

ul .liTag {
    font-size: 0.8rem;
    margin-top: 2%;
    margin-bottom: 2%;
    color: #51637D;
    border: 1px solid green;
} */


.listItemWrapper {
    /* border: 1px solid purple; */
    /* margin-top: 5%; */
    /* margin-bottom: 5%; */
}



ol {
    /* border: 1px solid purple; */
}

ul {
    /* border: 1px solid salmon; */
}

.liTag {
    font-size: 0.9rem;
    /* color: var(--mrkdwn-para-color); */
    margin-top: 2%;
    margin-bottom: 2%;
    /* border: 1px solid blue; */
    color: #546079;

}


/* ---span text---------------------------------------------- */

.spanTextHighlight {
    color: #D42D61;
}

/* ---strong text------------------------------------------- */

.strongTextStyle {
    font-size: 0.9rem;
    font-weight: 600;
    /* color: #2353E8; */
    color: #175CD3;
    /* color: #53389E; */
}

/* ---code block --------------------------------------------------- */
.codeBlockWrapper {
    width: 95%;
    /* border: 1px solid green; */
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
}

.codeBlockWrapper::-webkit-scrollbar {
    display: none;
}

pre {
    border-radius: 0.8rem;
    width: 100%;
}

/* pre::-webkit-scrollbar {
    display: none;
} */

code {
    font-family: 'Source Code Pro', monospace;
    font-size: 0.8rem;
    line-height: 2;
    font-weight: 600;
    padding: 0%;
    margin: 0%;
}

/* ---inline code -------------------------------------- */

.inlineCodeStyle {

    /* color: #F63D68; */
    color: #E31B54;
    /* background-color: #FECDCA; */
    background-color: #FFE4E8;
    padding: 4px 8px 4px 8px;
    font-family: 'Source Code Pro', monospace !important;
    border-radius: 0.3rem;
    margin-left: 1%;
    margin-right: 1%;
}

/* -----noteblock ---------------------------------------- */

.noteWrapper {
    background-color: #EEF2F6;
    border-left: 0.3rem solid var(--app-ui-scheme-color);
    padding: 10px;
    margin: 20px 0px;
    border-radius: 5px;
    font-size: 16px;
    line-height: 1.6;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}



/* .blockquoteTag {
    border-left: 5px solid var(--app-ui-scheme-color);
    margin: 0;
    padding: auto;
    padding-left: 2%;
    padding-top: 2%;
    background-color: #F6F7FB;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.noteStrongText {
    font-size: 0.95rem;
    color: var(--mrkdwn-primary-title-color);
} */



@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {

    /* ---primaryHeading------------------------------------------------- */
    .primaryTitleWrapper {
        position: relative;
        padding-left: 0%;
        display: flex;
        width: 100%;
        justify-content: flex-start;
        align-items: flex-start;
        /* border: 1px solid black; */

    }

    .indicatorContainer {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        aspect-ratio: 1/1.5;
        height: clamp(2.3rem, 0.8999999999999995rem + 7.000000000000002vw, 3.0rem) !important;
        margin: 0%;
        /* border: 1px solid red; */
    }

    .primaryTitleIndicatorDiv {
        width: 45%;
        aspect-ratio: 1/2;
        border-radius: 0.2rem;
        background-color: var(--app-ui-scheme-color);
    }

    .headingTextDiv {
        flex: 1;
        /* border: 1px solid springgreen; */
    }

    .secondaryTitleIndicatorDiv {
        width: 35%;
        aspect-ratio: 1/2;
        border-radius: 0.15rem;
        background-color: var(--app-ui-scheme-color);
    }

    .primaryTitleText {
        font-size: clamp(1.5rem, 0.5rem + 5.0vw, 2.0rem) !important;
        line-height: clamp(2.3rem, 0.8999999999999995rem + 7.000000000000002vw, 3.0rem) !important;
    }

    .secondaryTitleText {
        /* font-size: 1.2rem; */
        /* font-size: 1.5rem; */
        font-size: clamp(1.2rem, 0.5999999999999999rem + 3.0000000000000004vw, 1.5rem) !important;
        line-height: clamp(2.3rem, 0.8999999999999995rem + 7.000000000000002vw, 3.0rem) !important;
    }

    /* ---paragraph------------------------------------------------------------ */
    .paraWrapper {
        width: 100%;
        max-width: 100%;
        height: auto;
        /* border: 1px solid black; */
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 0;
        padding-top: 5%;
        padding-bottom: 5%;
        padding-left: 8%;
        padding-right: 0%;

    }

    .paraText {
        font-size: 0.7rem;
        font-size: 1.1rem;
        font-size: clamp(0.7rem, -0.10000000000000031rem + 4.000000000000002vw, 1.1rem) !important;
    }


    /* ---list item------------------------------------------------------------ */
    .liTag {
        /* font-size: 0.9rem !important; */
        margin-top: 2%;
        margin-bottom: 5%;
        font-family: 'Poppins', sans-serif;
    }


    /* ---span text------------------------------------------------------------ */




    /* ---strong text--------------------------------------------------------- */
    .strongTextStyle {
        font-size: 0.9rem;
        font-weight: bold;
    }


    /* --- noteblock -------------------- */


    .noteWrapper {
        margin: 20px 0;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }






}