@import "../../variable.module.css";

.appHeaderStylesWrapper {
    grid-area: appHeaderStylesWrapper;
    width: 100%;
    height: 100%;
    background-color: var(--app-header-bg);
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerInnerWrapper {
    display: grid;
    width: 97%;
    height: 100%;
    grid-template-columns: auto minmax(0, 1fr);
    grid-template-rows: 100%;
    grid-template-areas:
        "appLogoWrapper rightWrapper";
    /* border: 1px solid white; */
}

/* ---------------------------------------------------------------------- */
.appLogoWrapper {
    grid-area: appLogoWrapper;
    /* width: 100%; */
    height: 100%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* border: 1px solid white; */
    cursor: pointer;
}

.logoContainer {
    width: 70%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ---------------------------------------------------------------- */
.rightWrapper {
    grid-area: rightWrapper;
    display: flex;
    width: 100%;
    height: 100%;
    /* background-color: palegreen; */
    justify-content: flex-end;
    /* border: 1px solid springgreen; */
    align-items: center;
}

/* ---------------------------------------------------------------------- */
.classroomBtnWrapper {
    display: flex;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    cursor: pointer;
}

.classroomBtnWrapperShrink {
    width: auto;
    overflow: hidden;
}

.classroomBtnWrapperExpand {
    width: calc(85% - 40px);
    /* border: 1px solid white; */
    overflow: hidden;
}

.classroomBtnDiv {
    width: auto;
    height: 30px;
    background-color: #40597f48;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 0.5rem;
    overflow: hidden;
    margin-right: 1.5rem;
}

.classroomBtnText {
    font-size: 0.85rem;
    color: white;
    white-space: nowrap;

}



/* --------------------------------------------------------- */
.searchBarWrapper {
    display: flex;
    width: auto;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    /* border: 1px solid orange; */
}

.searchBarWrapperShrink {
    width: 30px;
    /* border: 1px solid orange; */
}

.searchBarWrapperExpand {
    width: 260px;
    /* border: 1px solid orange; */

}

/* ---------------------------------------------------------- */
.popUpBtnWrapper {
    position: relative;
    height: 100%;
    /* aspect-ratio: 1/2; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid orange; */
    padding-right: 0%;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
}


.popUpBtnWrapperShrink {
    aspect-ratio: 1/1.08;
    /* border: 1px solid darkcyan; */
}

.popUpBtnWrapperExpand {
    aspect-ratio: 1/1.08;
    /* border: 1px solid darkcyan; */
}

.popUpBtnIconDiv {
    width: 25%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    cursor: pointer;
}



@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {

    .headerInnerWrapper {
        width: 90%;
        height: 100%;
    }


    .logoContainer {
        width: 65%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .rightWrapper {
        grid-area: rightWrapper;
        display: flex;
        width: 100%;
        height: 100%;
        /* border: 1px solid black; */
        /* background-color: palegreen; */
        justify-content: flex-end;
        align-items: center;
    }

    .classroomBtnDiv {
        height: clamp(1.9rem, 0.6999999999999997rem + 6.000000000000001vw, 2.5rem) !important;
    }

    .classroomBtnWrapperShrink {
        width: 0px;
        /* border: 1px solid white; */
        overflow: hidden;
    }

    .classroomBtnWrapperExpand {
        width: calc(85% - clamp(1.9rem, 0.6999999999999997rem + 6.000000000000001vw, 2.5rem)) !important;
        overflow: hidden;
    }

    .classroomBtnText {
        font-size: clamp(0.7rem, 0.09999999999999987rem + 3.0000000000000004vw, 1.0rem) !important;
    }

    .searchBarWrapperShrink {
        width: clamp(1.9rem, 0.6999999999999997rem + 6.000000000000001vw, 2.5rem) !important;
    }

    .searchBarWrapperExpand {
        width: 100%;
        /* border: 1px solid orange; */
    }

    .popUpBtnWrapperShrink {
        aspect-ratio: 1/100;
        /* border: 1px solid darkcyan; */
    }

    .popUpBtnWrapper {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        /* border: 1px solid orange; */
    }

    .popUpBtnWrapperExpand {
        aspect-ratio: 1/1.8;
        /* border: 1px solid darkcyan; */
    }

    .popUpBtnIconDiv {
        width: 35%;
    }




}