@import "../../variable.module.css";

.appHeaderStylesWrapper {
    grid-area: appHeaderStylesWrapper;
    width: 100%;
    height: 100%;
    background-color: var(--app-header-bg);
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerInnerWrapper {
    display: grid;
    width: 97%;
    height: 100%;
    grid-template-columns: auto minmax(0, 1fr);
    grid-template-rows: 100%;
    grid-template-areas:
        "appLogoWrapper searchProfileOuterWrapper ";
    /* border: 1px solid white; */
}

/* ---------------------------------------------------------------------- */
.appLogoWrapper {
    grid-area: appLogoWrapper;
    /* width: 100%; */
    height: 100%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* border: 1px solid white; */
}

.logoContainer {
    width: 80%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ---------------------------------------------------------------- */
.searchProfileOuterWrapper {
    grid-area: searchProfileOuterWrapper;
    display: flex;
    width: 100%;
    height: 100%;
    /* border: 1px solid palegreen; */
    /* background-color: palegreen; */
}

/* --------------------------------------------------------- */
.searchBarWrapper {
    display: flex;
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* border: 1px solid cyan; */
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    padding-right: 2%;
}

.searchBarWrapperExpand {
    display: flex;
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* border: 1px solid cyan; */
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    padding-right: 2%;

}


/* ---------------------------------------------------------- */
.userProfileWrapper {
    height: 100%;
    aspect-ratio: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid orange; */
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    padding-right: 0%;
}

.userProfileWrapperShrink {
    height: 100%;
    aspect-ratio: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid orange; */
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    padding-right: 0%;
}

.profileIconDiv {
    width: 45%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}



@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {


    .headerInnerWrapper {
        width: 90%;
        height: 100%;
        /* border: 1px solid white; */
    }


    .logoContainer {
        width: 65%;
        /* border: 1px solid red; */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* ------------------------------------------ */
    .searchProfileOuterWrapper {
        display: flex;
        width: 100%;
        height: 100%;
    }

    /* --------------------------------------------------------- */
    .searchBarWrapper {
        display: flex;
        flex-grow: 1;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 0%;
    }

    .searchBarWrapperExpand {
        flex-grow: 1;
        height: 100%;
        /* border: 1px solid cyan; */
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 0%;

    }

    /* ---------------------------------------------------------------- */
    .userProfileWrapper {
        aspect-ratio: 1/2;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 0%;
        /* border: 1px solid orange; */
        padding-right: 0%;
    }

    .userProfileWrapperShrink {
        aspect-ratio: 1/100;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        /* border: 1px solid orange; */
        padding-right: 0%;
    }

    .profileIconDiv {
        width: 45%;
        aspect-ratio: 1/1;
        display: flex;
        justify-content: center;
        align-items: center;
        /* border: 1px solid red; */
        /* display: none; */
    }

}