.searchBarContainer {
    height: 40px;
    width: 250px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    /* border: 1px solid darkblue; */
}

.inputContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    flex: 1;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    /* border: 1px solid red; */
}

.hitSearchArrowIconContainer {
    height: 100%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #40597f48;
}

.hitSearchArrowIconContainerShrink {
    height: 100%;
    width: 0%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}

.hitSearchIconDiv {
    width: 60%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.searchInput {
    outline: none;
    height: 100%;
    width: 100%;
    border: none;
    background-color: #40597f48;
    color: white;
    font-size: 0.95rem;
    padding-left: 0px;
    font-weight: 400;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    padding-left: 5%;
    border-radius: 0px;
    /* border: 1px solid red; */

}

.searchInputShrink {
    height: 100%;
    width: 0%;
    padding: 0;
    border-radius: 0px;
    /* border: 1px solid red; */
}

.searchInputExpand {
    height: 100%;
    width: 100%;
    padding-left: 5%;
    /* border: 1px solid red; */
}

.searchInput::placeholder {
    font-weight: 400;
    color: #718199;
    font-size: 0.7rem;
    font-size: 0.95rem;
    font-size: clamp(0.7rem, 0.19999999999999996rem + 2.5vw, 0.95rem) !important;
}

/* ----------------------------------------------------------------------- */
.iconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    aspect-ratio: 1/1;
    background-color: #40597f48;
    margin-left: 0px;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    /* border: 1px solid red; */
}

.searchIconDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
}

/* ----------------------------------------------------------------------- */



@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .searchBarContainer {
        height: 30px;
        height: clamp(1.9rem, 0.6999999999999997rem + 6.000000000000001vw, 2.5rem) !important;
        width: 100%;
    }

    .searchInput::placeholder {
        font-size: clamp(0.7rem, 0.19999999999999996rem + 2.5vw, 0.95rem) !important;
    }
}