.container {
    height: 40px;
    /* aspect-ratio: 7/1; */
    width: 250px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    /* border: 1px solid rgb(255, 0, 0); */
    border-radius: 10px;
    overflow: hidden;
    /* border: 1px solid springgreen; */
}

.containerShrink {
    height: 40px;
    /* aspect-ratio: 1/1; */
    width: 40px;
    /* width: 100px; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    /* border: 1px solid rgb(255, 0, 0); */
    border-radius: 10px;
    overflow: hidden;
    /* border: 1px solid springgreen; */

}

.inputContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    flex: 1;
    /* This will make it take up the remaining available width */
    /* border: 1px solid greenyellow; */
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    /* background-color: palegoldenrod; */
    /* background-color: rgba(240, 255, 255, 0.186); */
    /* border: 0.01rem solid salmon; */

}

.hitSearchArrowIconContainer {
    height: 100%;
    aspect-ratio: 1/1;
    /* border: 1px solid white; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #40597f48;
}

.hitSearchArrowIconContainerShrink {
    height: 100%;
    width: 0%;
    /* border: 1px solid white; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}

.hitSearchIconDiv {
    width: 60%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid white; */
    cursor: pointer;
}

.searchInput {
    outline: none;
    height: 100%;
    width: 100%;
    border: none;
    background-color: #40597f48;
    color: white;
    font-size: 0.95rem;
    padding-left: 0px;
    font-weight: 400;
    /* transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out; */
    /* background-color: salmon; */
    padding-left: 5%;
    /* background-color: transparent; */
    /* border: 1px solid white; */
    border-radius: 0px;
}

.searchInput::placeholder {
    font-weight: 400;
    color: #718199;
    font-size: 0.7rem;
    font-size: 0.95rem;
    font-size: clamp(0.7rem, 0.19999999999999996rem + 2.5vw, 0.95rem) !important;
}

.searchInputShrink {
    outline: none;
    height: 100%;
    width: 100%;
    border: none;
    background-color: #40597f48;
    padding: 0px;
    /* transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out; */
    /* background-color: salmon; */
    padding-left: 0px;
    padding: 0;
    /* background-color: transparent; */
    border-radius: 0px;

}

/* ----------------------------------------------------------------------- */
.iconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    aspect-ratio: 1/1;
    /* border: 0.01rem dotted springgreen; */
    background-color: #40597f48;
    /* background-color: springgreen; */
    margin-left: 0px;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;

}

.searchIconDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    cursor: pointer;
    /* border: 1px solid green; */
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
}

/* ----------------------------------------------------------------------- */

/* ----------------------------------- */


@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .container {
        height: 40px;
        width: 95%;
        /* border: 1px solid springgreen; */
    }

    .containerShrink {
        height: 40px;
        width: 40px;
        /* border: 1px solid springgreen; */


    }


}