@import "../../variable.module.css";

.searchListWrapper {
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--app-main-bg);
}

.searchListInnerWrapper {
    width: 90%;
    height: 90%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    /* padding-top: 20px; */
    flex-wrap: wrap;
    overflow-y: scroll;
}

.searchListInnerWrapper::-webkit-scrollbar {
    display: none;
}


@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .searchListInnerWrapper {
        width: 98%;
        height: 90%;
        /* border: 1px solid red; */
        display: flex;
        justify-content: flex-start;
        align-items: center;
        /* padding-top: 20px; */
        align-items: flex-start;
    }
}