.searchItemWrapper {
    /* width: 300px; */
    height: 130px;
    aspect-ratio: 3/1.35;
    background-color: white;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin: 20px 20px 20px 20px;
}

.searchItemInnerWrapper {
    width: 90%;
    height: 90%;
    /* border: 1px solid rgba(255, 0, 0, 0.341); */
    display: grid;
    grid-template-columns: minmax(0, 0.4fr) minmax(0, 0.4fr) minmax(0, 0.2fr);
    grid-template-rows: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    grid-template-areas:
        "breadcrumWrapper breadcrumWrapper arrowLinkWrapper"
        "searchKeyWordWrapper searchKeyWordWrapper arrowLinkWrapper"
        "searchInfoEleWrapper searchInfoEleWrapper searchInfoEleWrapper";

}

.breadcrumWrapper {
    grid-area: breadcrumWrapper;
    width: 100%;
    height: 100%;
    /* border: 1px solid salmon; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.courseNameContainer {
    /* border: 1px solid red; */
    width: auto;
    height: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 0px;
    padding-right: 0px;
}

.courseNameContainer p {
    font-size: 0.8rem;
    color: #7E8DA4;
    font-weight: 400;
}

.chevronContainer {
    /* border: 1px solid red; */
    width: 10%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chevronIconDiv {
    width: 35%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid blue; */
}

.chapterNameContainer {
    /* border: 1px solid red; */
    width: auto;
    height: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 0px;
    padding-right: 0px;
}

.chapterNameContainer p {
    font-size: 0.8rem;
    color: #7E8DA4;
    font-weight: 400;

}

/* ----------------------------------------------------------------- */
.searchKeyWordWrapper {
    grid-area: searchKeyWordWrapper;
    width: 100%;
    height: 100%;
    /* border: 1px solid salmon; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}



.searchKeyContainer {
    position: relative;
    /* border: 1px solid red; */
    width: auto;
    height: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
    padding-right: 0px;
}

.searchKeyContainer::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 50%;
    left: 0;
    background-color: #B399FD;
    border-radius: 2px;
}

.searchKeyContainer p {
    font-size: 0.8rem;
    color: black;
    font-weight: 500;

}

.searchValueContainer {
    /* border: 1px solid red; */
    width: auto;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-left: 5px; */
    /* padding-right: 5px; */
}

.searchValueInnerContainer {
    /* border: 1px solid red; */
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E3FE;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 6px;
}

.searchValueInnerContainer p {
    font-size: 0.8rem;
    color: #9E77ED;
    font-weight: 600;

}

/* ----------------------------------------------------------------- */

.searchInfoEleWrapper {
    grid-area: searchInfoEleWrapper;
    width: 100%;
    height: 100%;
    /* border: 1px solid salmon; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.infoEleContainer {
    /* border: 1px solid red; */
    width: 40%;
    height: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 5px;
}

.infoIconContainer {
    /* border: 1px solid blue; */
    /* width: 10%; */
    aspect-ratio: 1/1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.infoIconDiv {
    width: 50%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-self: center;
}

.infoTextContainer {
    /* border: 1px solid blue; */
    /* flex: 1; */
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0px;
    padding-right: 0px;
}

.infoTextContainer p {
    font-size: 0.8rem;
    color: #7E8DA4;
    font-weight: 400;

}

/* ----------------------------------------------------------------- */

.arrowLinkWrapper {
    grid-area: arrowLinkWrapper;
    width: 100%;
    height: 100%;
    /* border: 1px solid salmon; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrowLinkIconContainer {
    /* border: 1px solid red; */
    width: 85%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #CBE7FD;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {

    .searchItemWrapper {
        width: 95%;
        height: unset !important;
        background-color: white;
        /* border: 1px solid red; */
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 25px;
        margin: 10px 0px 10px 0px;
    }

}