.formWrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: skyblue; */
}

.signUpFormWrapper {
    width: 100%;
    height: 100%;
    border: 1px solid darkred;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-content: space-between;
}

.toggleLinkText {
    font-size: 0.7rem;
    color: black;
    text-decoration: underline;
    margin-top: 20px;
    margin-bottom: 5px;
}

input {
    outline: none;
    border: none;
    background-color: #E7EFFC;
    width: 70%;
    height: 40px;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 5%;
    padding-right: 5%;
}

.submitBtnDiv {
    width: auto;
    height: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #40597f48;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.submitBtnDiv p {
    text-decoration: none;
    color: #002A9A;
    font-size: 0.8rem;
    font-weight: 500;
}

.closeFormBtnDiv {
    width: auto;
    height: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #40597f48;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}