@import "../../variable.module.css";

.signInFormGrid {
    width: 80%;
    height: 85%;
    /* border: 1px solid salmon; */
    display: grid;
    grid-template-columns: 100%;
    /* grid-template-rows: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr); */
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-areas:
        "authMessageCell"
        "emailAddressCell"
        "buttonCell"
        "bottomLinkCell"
    ;
    box-sizing: border-box;
    align-content: space-between;
    transition: height 0.5s ease-in-out;
    -webkit-transition: height 0.5s ease-in-out;
    -moz-transition: height 0.5s ease-in-out;
    -o-transition: height 0.5s ease-in-out;
    -ms-transition: height 0.5s ease-in-out;
}

/* ________________________________________________________________________________________________________________________________ */
.authMessageCell {
    grid: authMessageCell;
    width: 100%;
    height: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.messageWrapper {
    height: 35%;
    width: auto;
    display: flex;
    overflow: hidden;
    max-width: 90%;
    padding-left: 0%;
    padding-right: 3%;
    /* border: 1px solid red; */
    border-radius: 0.5rem;
}

.messageIconContainer {
    height: 100%;
    aspect-ratio: 1/1;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.messageIconDiv {
    width: 50%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.messageTextContainer {
    width: auto;
    height: 100%;
    /* border: 1px solid darkblue; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}

.messageTextContainer p {
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    /* border: 1px solid blue; */
    font-weight: 500;
    font-size: 0.8rem;
}


.errorBackGround {
    background-color: #FECDCA;
}

.successBackGround {
    background-color: #A6F4C5;
}

.successText {
    color: #039855;
}

.errorText {
    color: #D92D20;
}

/* ________________________________________________________________________________________________________________________________ */

.fullNameCell {
    grid: fullNameCell;
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.emailAddressCell {
    grid: emailAddressCell;
    width: 100%;
    height: 100%;
    /* border: 1px solid seagreen; */
    display: flex;
    justify-content: center;
    align-items: center;

}

.countryCell {
    grid: countryCell;
    width: 100%;
    height: 100%;
    /* border: 1px solid orangered; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonCell {
    grid: buttonCell;
    width: 100%;
    height: 100%;
    /* border: 1px solid skyblue; */
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

.bottomLinkCell {
    grid: bottomLinkCell;
    width: 100%;
    height: 100%;
    /* border: 1px solid springgreen; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottomLinkCell p {
    font-size: 0.6rem;
    color: black;
}

.bottomLinkCell span {
    color: #9E77ED;
    cursor: pointer;
    font-weight: 600;
}

/* ________________________________________________________________________________ */

.inputGrid {
    width: 100%;
    height: 80%;
    display: grid;
    grid-template-columns: auto minmax(0, 1fr);
    grid-template-rows: 50% 50%;
    grid-template-areas:
        "iconCell labelCell"
        "iconCell inputCell";
    background-color: var(--auth-form-input-bg);
    border-radius: 0.8rem;
}

.inputGridActive {
    border: 2px solid #9E77ED;
}

/* ---------------------------------------------------------------------------------------------------- */

.iconCell {
    grid-area: iconCell;
    height: 100%;
    aspect-ratio: 1/1;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconDiv {
    width: 40%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* ---------------------------------------------------------------------------------------------------- */

.labelCell {
    grid-area: labelCell;
    width: 100%;
    height: 100%;
    /* border: 1px solid darkblue; */
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.labelText {
    font-weight: 400;
    font-size: 0.8rem;
    color: #7E8DA4;
}

/* ---------------------------------------------------------------------------------------------------- */
.inputCell {
    grid-area: inputCell;
    width: 100%;
    height: 100%;
    /* border: 1px solid springgreen; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.formInput {
    border: none;
    outline: none;
    background-color: transparent;
    width: 95%;
    height: 100%;
    text-align: left;
    padding: 0;
    margin: 0;
    /* border: 1px solid red; */
    color: black;
    font-size: 0.8rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.formInput::selection {
    background-color: transparent;
}

.formInput:not(:placeholder-shown) {
    background-color: transparent;
}

/* ________________________________________________________________________________________________ */

.btnWrapper {
    width: auto;
    height: 80%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnTextContainer {
    width: auto;
    height: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnTextContainer p {
    font-size: 1.5rem;
    color: black;
    font-weight: 500;
}

.btnTextContainer span {
    color: #7E8DA4;
    font-weight: 500;
}

.btnIconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    aspect-ratio: 1/1;
    /* border: 1px solid black; */
}

.submitBtn {
    width: 70%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--auth-form-btn-bg);
    border-radius: 50%;
    cursor: pointer;
    border: none;
    /* border: 1px solid black; */
    padding: 0;
    margin: 0;
}

.submitBtn:focus {
    outline: 2px solid #9E77ED;
}

/* ________________________________________________________________________________ */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {

    .inputGrid {
        border-radius: clamp(0.7rem, 0.09999999999999987rem + 3.0000000000000004vw, 1.0rem) !important;
    }

    .messageWrapper {
        border-radius: clamp(0.3rem, -0.3rem + 3.0vw, 0.6rem) !important;
    }

    .messageTextContainer p {
        font-size: 0.6rem;
        font-size: 0.95rem;
        font-size: clamp(0.6rem, -0.09999999999999998rem + 3.4999999999999996vw, 0.95rem) !important;
    }

    .bottomLinkCell p {
        font-weight: 500;
        font-size: 0.7rem;
        font-size: 1rem;
        font-size: clamp(0.7rem, 0.09999999999999987rem + 3.0000000000000004vw, 1.0rem) !important;
    }

    .labelText {
        font-size: 0.65rem;
        font-size: 0.9rem;
        font-size: clamp(0.65rem, 0.15000000000000002rem + 2.5vw, 0.9rem) !important;
        font-size: clamp(0.7rem, 0.19999999999999996rem + 2.5vw, 0.95rem) !important;
    }

    .formInput {
        font-size: 0.7rem;
        font-size: 0.95rem;
        /* font-size: clamp(0.65rem, 0.15000000000000002rem + 2.5vw, 0.9rem) !important; */
        font-size: clamp(0.7rem, 0.19999999999999996rem + 2.5vw, 0.95rem) !important;

    }

    .btnTextContainer p {
        font-size: 1.5rem;
        font-size: 2.2rem;
        font-size: clamp(1.5rem, 0.09999999999999964rem + 7.000000000000002vw, 2.2rem) !important;
    }

    .btnTextContainer span {
        color: #7E8DA4;
    }











}